<div id="portada">
  <div id="foto-port">
    <img src="../../../assets/img/perfil.jpg" alt="foto-perfil2" class="foto-perfil2">
  </div>
  <div id="datos">
    
   <br><br><br><br>
   <br><br><br><br>
    <div  class="sobre-mi">
     

      <strong id="nombre"> Marian Yelin Suarez Nibuscha</strong>
    
      <ul>

        <li>
          <i class="fa-solid fa-phone" id="iconos"></i>
          <b>Telefono:</b> 62627424
        </li>
    
        <li>
          <i class="fa-solid fa-location-dot" id="iconos"></i>
          <b>Direccion:</b> Av.Petrolera km 7 ½  ⠀⠀⠀⠀⠀⠀⠀⠀⠀ <br>   ⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀  Zona/Nueva Vera Cruz
          </li>
    
        <li>
          <i class="fa-solid fa-envelope" id="iconos"></i>
          <b>Email:</b><a href="mailto:mariansuarez380@gmail.com?
          Subject=Interesado%20en%20contactarte">⠀⠀⠀⠀⠀⠀⠀⠀⠀mariansuarez380@gmail.com</a>
        </li>
    
        <li> 
          <i class="fa-solid fa-calendar" id="iconos"></i>
          <b>Fecha de nacimiento:</b>10/07/2004
        </li>
    
      </ul>
    </div>
  </div>

  <div id="foto-port1">
    <img src="../../../assets/img/perfil.jpg" alt="foto-perfil" class="foto-perfil">
  </div>
</div>
