<div class="container" id="menu1">

  <div class="fondo">
    <div class="info aca">
      <h2>
        EDUCACIÓN 
      </h2> 

        
   <table width="70%" table border="3" id="tamanio">
    <tr>
      <td class="encabezado"><h2 class="letras">  ESTUDIOS <br> <mat-icon>school</mat-icon></h2></td>
      <td class="encabezado"><h2 class="letras">
        DURACIÓN <br>  <mat-icon>schedule</mat-icon></h2>
        </td>
      <td class="encabezado"><h2 class="letras">TITULOS <br><mat-icon>folder_special</mat-icon></h2>
      </td>
      
    </tr>  
    <tr>
      <td class="letras">DESARROLLO DE APLICACIONES WEB </td>
      <td class="letras">MARZO 2022 <br> PRESENTE</td>
      <td></td>
     
    </tr>  
    <tr>
      <td class="letras">MANEJO DE EXCEL MACROS</td>
      <td class="letras">14 DE MAYO  AL<br> 18 DE JUNIO 2022</td>
      <td class="letras">TECNICO EN MACROS,VBA EXCEL Y PROGRACION ORIENTADA A OBJETOS.</td>
   
       </tr> 
    <tr>
      <td class="letras">NIVEL  <br>   SECUNDARIO</td>
      <td class="letras">2016-2021</td>
      <td class="letras">BACHILLER  <br> EN HUMANIDADES</td>
      
    </tr> 
    <tr>
      <td class="letras">NIVEL <br>  PRIMARIO</td>
      <td class="letras">2009-2015</td>
      <td></td>
    </tr> 
      </table>
   
    
  
    </div>
  </div>
  

  <div class="fondo2">
    <div class="lado-der">
      <h2>
        COMPETENCIAS
      </h2>
      <ul>
        <li>Adaptabilidad</li>
        <li>Capacidad de trabajar en equipo</li>
        <li>Capacidad de aprendizaje</li>
        <li>Manejo del estres</li>
        <li>Comunicación de forma afectiva</li>
        <li>Responsabilidad</li>
      </ul>
    </div>
  </div>

 
</div>

