
/* h1{
    display: inline;
    font-weight: 300;
    font-size: 9vh;
    font-family: 'Abril Fatface', cursive;
  } */

.form-title{
  text-align: center;
  font-size: 3rem;
  
      font-family: 'Abril Fatface', cursive;
}
 /* la tabla */
  #tamanio{
  margin: 5% 15%;
  background-color:aqua;
 
  font-size: 30px; 
}

.letras{
  font-size: 20px;
}




#menu1{
  background-image: linear-gradient(to right, rgb(8, 149, 215) 0%, rgb(0, 27, 76) 100%);
  background-size: cover;
  height:100%;
  width: 100%;
}

#menu1 .fondo{
  background-color: rgb(168, 141, 120,0);
  padding: 2% 0% ;
}

#menu1 .fondo .info{
 
  background-color: white;
  width: 50%;
  padding: 2%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 10px 10px 20px black;
  margin-left: 10%;
  text-align: center;
  
}
#menu1 .fondo2{
  background-color: rgb(255, 255, 255,0);
  padding: 2% 0% ;
}
#menu1 .fondo2 .lado-der{

  margin: 0% 0% 0% 50%;
   border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; 
  background-color:aqua;
  color:black;
  width: 50%;
  padding: 2%;
  box-shadow: 10px 10px 20px black;
}
 .aca p{
  list-style: none;
  margin: 1% 0% 1% 4%;
  font-size: 19px;
}

ul li{
  list-style: none;
  margin: 1% 0% 1% 4%;
  font-size: 19px;
}
strong{
  font-size: 23px;
  font-family: 'Montserrat' sans-serif;
  margin: 5% 0%;
}
h2{
  font-size: 24px;
  font-weight: 800;
}
@media (max-width:768px){


  #menu1 .fondo .info{
 
   width: 80%;
   padding: 2%;
   font-size: 12px;
 }
  strong{
   font-size: 18px;
 }
 
 #menu1 h2{
   font-size: 20px;
 }
 
 #menu1 .fondo2 .lado-der{
   margin: 0% 0% 0% 20%;
   width: 80%;
   padding: 2%;
 }
 .aca p{
  font-size: 16px;
 }
 ul li{
   font-size: 16px;
 }
 .form-title{
  font-size: 2em;
 }
 } 


 @media (max-width:320px){


  #menu1 .fondo .info{
    background-color: rgb(255, 255, 255,0.6);
   width: 100%;
   padding: 1.2rem;
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
 }
  strong{
   font-size: 15px;
 }
 
 #menu1 h2{
   font-size: 17px;
 }
 
 #menu1 .fondo2 .lado-der{
   margin: 0%;
   width: 100%;
   padding: 2%;
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px; 
   background-color: rgb(225, 141, 251,0.6);
   padding: 1.2rem;
 }
 .aca p{
  font-size: 15px;
 }
 ul li{
   font-size: 15px;
 }
 .form-title{
  font-size: 1.9em;
 }
 } 
